.pop {
  font:
    700 36px/41px Poppins,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

.button__black {
  display: inline-block;
  vertical-align: top;
  background: #212121;
  color: #fff;
  text-transform: uppercase;
  font:
    600 14px/60px Poppins,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  min-width: 160px;
  padding: 0 10px;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  &:hover {
    background: #fff;
    color: #f35643;
    text-decoration: none;
  }
}

.city-store-location {
  color: #829caa;
  background-color: transparent;
  font-size: 15px;
  line-height: 25px;
  font-family:
    Open Sans,
    Helvetica,
    Arial,
    sans-serif;
  font-style: normal;
  font-weight: 300;
  text-transform: lowercase;
  min-width: 0;
  vertical-align: baseline;
  padding: 0;
}
